<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.githubuseridentifier">

    <application
        android:allowBackup="true"
        android:icon="@drawable/spalsh"
        android:label="GitApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".halaman_tentang" android:label="About"></activity>
        <activity
            android:name=".home"
            android:theme="@style/TaskMiss">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserDetail"
            android:label="User Detail" />
        <activity
            android:name=".MainActivity"
            android:label="Homepage"></activity>
    </application>

</manifest>